.jumbotron(style='background-image: url(images/hero.png)')
  .container(style='color: #222')
    h1.pull-left(style='margin-right: 40px')
      i.logo.icon-bullhorn
    h1 <small style='color: #222'>PeerCast</small><br>Developer's YP
    p(style='font-size: 24px; margin-top: 40px')
      |PeerCastで、ライブコーディングを見よう！配信しよう！
    p(style='text-align: right; margin-top: 30px')
      a.btn.btn-default.btn-lg(href='/info.html', style='margin: 5px') このサービスについて
      a.btn.btn-primary.btn-lg(href='/list.html', style='margin: 5px') チャンネルリストを開く
.marketing(style='text-align: center; margin: 90px 0')
  h1 こんな方におすすめ！
  p Developer's YPはこんな方のご利用をお待ちしております。
  .row
    .col-md-4
      i.icon-cogs(style='color: #666')
      h2 ソフトウェア<span style='white-space: nowrap'>エンジニア</span>
      p 他の人のコーディングを見てみたい、また、自分のコーディングを他人に見てほしい方。
    .col-md-4
      i.icon-comments-alt(style='color: #666')
      h2 プログラミング<span style='white-space: nowrap'>初心者</span>
      p 自分のコーディングを他の人に見てもらって、指摘を貰いたい、また、他の人のコーディングを見て吸収したい方。
    .col-md-4
      i.icon-edit-sign(style='color: #666')
      h2 理工系学生
      p プロの開発風景を見て勉強したい方。
  .row
    .col-md-4
      i.icon-group(style='color: #666')
      h2 OSS開発者
      p オープンソースプロジェクトの開発者で、コミュニティーをアピールしたい方。
    .col-md-4
      i.icon-gamepad(style='color: #666')
      h2 同人ソフト<span style='white-space: nowrap'>開発者</span>
      p 自分の作品を、開発風景を含めて発表したい方。
    .col-md-4
      i.icon-coffee(style='color: #666')
      h2 フリーランス<span style='white-space: nowrap'>エンジニア</span>
      p やってる内容は見せられないけど監視する人がいると仕事が捗る方。
  p(style='margin: 30px')
    a.btn.btn-primary.btn-lg(href='/list.html') チャンネルリストを開く
