extends layout

block content
  h1 掲載方法
  hr
  h2 PeerCastで配信するには
  p Under construction...
  p see also: 
    a(href='http://pecardy.vanu.jp/') Peercast配信者用情報集積所
  hr
  h2 Developer's YPに掲載するには
  p ジャンルの先頭に<strong>dp</strong>をつけてください。
