extends layout

block content
  .navbar.navbar-inverse.navbar-static-top
    .navbar-inner
      .container
        ul.nav
          li
            a(style='color:#444') チャンネルリスト
          li.active
            a(href='#') このサービスについて
          li
            a(style='color:#444') 利用規約
        a.nav.pull-right.brand(href='#') Developer's YP
  .container
    |under construction...
