doctype 5
html
  head
    title Developer's YP
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css')
    script(src='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js')
    script(src='//ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js')
    script(src='//localhost:35729/livereload.js')
  body
    block content
