/* Custom design
-------------------------------------------------- */

html, body {
  background-image: url(../images/white_wall_hash.png);
}
body {
  padding-top: 70px;
}
.marketing i {
  font-size: 200px;
}

.jumbotron i.logo {
  font-size: 160px;
}
.jumbotron h1 {
  font-weight: bold;
  line-height: 1;
  letter-spacing: -2px;
}
@media (max-width: 991px) {
  .jumbotron i.logo {
    font-size: 160px;
  }
}
@media (max-width: 767px) {
  .jumbotron i.logo {
    font-size: 100px;
  }
}

footer {
  padding: 10px 0;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}

hr {
  margin-top: 60px
}
.marketing .col-md-4 {
  margin-top: 40px
  margin-bottom: 80px
}