extends layout

block content
  .hero-unit(style='text-align: center')
    h1 Page Not Found <small class="text-error">Error 404</small>
    p(style='margin-top: 30px')
      |The page you requested could not be found, either contact your webmaster or try
      |again. Use your browsers <b>Back</b> button to navigate to the page you have prevously come from
    p
      b Or you could just press this neat little button:
    a.btn.btn-large.btn-info(href='/')
      i.icon-home.icon-white
      | Take Me Home
